:root {
  --bg-color: radial-gradient(#101115, #000000);
  --text-color: #e5e6ed;
  --button-bg: rgba(28, 30, 38, 0.2);
  --button-hover-bg: #1C1E26;
  --group-gap: 1.0rem;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Kode Mono', monospace;
  background: var(--bg-color);
  background-attachment: fixed;
  color: var(--text-color);
  padding: 2rem 1rem;
  box-sizing: border-box;
}

/* グループ全体のコンテナ */
.groups-container {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: var(--group-gap);
}

/* 同じグループのボタンをまとめるラッパー */
.link-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(28, 30, 38);
}

.link-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  padding: 0.8rem 1.35rem;
  background: var(--button-bg);
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.link-button:hover {
  background: var(--button-hover-bg);
}

/* アイコン */
.link-icon {
  font-size: 1rem;
  line-height: 1;
  color: var(--theme-color);
  flex-shrink: 0;
  user-select: none;
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.link-title {
  flex: 1;
  text-align: left;
  letter-spacing: 0.03em;
}